body {
    margin:0px;
}

.top-cont {
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 4px;
    padding-bottom: 35px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
   font-size: 24px;
   color: #f9faf8;
   font-weight: 900;
   font-family: 'Roboto', arial
}

.hlinks {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 16px;
}

ul {
    margin: 8px;
}

li {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 16px;
}
.signup {
    display: flex;
    margin-top: 30px;
    margin-inline: 70px;
}

.webawesome {
    margin: 0px;
    font-size:48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 4px;
}

.webawetext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 4px;
}

.signupbut {
    display: inline-block;
    background-color: #3882f6;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 4px;
    color: white;
}

.h1 {
    display: flex;
    width:250px;
    height: auto;
    margin: 8px
}


h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rand-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.b {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.i {
    margin-inline:auto;
    border: 2px black;
    min-height: 100px;
    width: 100px;
}

.t {
    min-width: 130px;
    text-align: center;
}

.quote-cont {
    background-color: #e5e7eb;
}

.quote-text {
    font-weight: lighter;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.quote-aut {
    font-size: 24px;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif
}



