.top-cont {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
   font-size: 24px;
   color: #f9faf8;
}

.hlinks {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 16px;
}

ul {
    margin: 4px;
}

li {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 16px;
}

