body{
    margin:0px;
    font-family: 'Roboto';
    height: 100%;
}

.top-cont {
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 4px;
    padding-bottom: 35px;
}

.top-cont .signup {
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
   font-size: 24px;
   color: #f9faf8;
   font-weight: 900;
   font-family: 'Roboto', arial
}

.hlinks {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 16px;
}

ul {
    margin: 8px;
}

li {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 16px;
}
.signup {
    display: flex;
    margin-top: 38px;
    margin-inline: 70px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 810px;
    align-self: center;
}

.sign-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.webawesome {
    margin: 0px;
    font-size:48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 4px;
}

.webawetext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 4px;
}

.signupbut {
    display: inline-block;
    background-color: #3882f6;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 4px;
    color: white;
}

.h1 {
    display: flex;
    width:250px;
    border: solid 3px black;
    height: auto;
    margin: 8px;
    flex-shrink: 0;
}


h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rand-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.b {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.i {
    margin-inline:auto;
    border:solid 2px black;
    min-height: 100px;
    width: 100px;
    border-radius: 20px;
}

.t {
    max-width: 200px;
    text-align: center;
    padding: 5px;
}

.quote-cont {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 25px;
    align-items: center;
}

.quote-cont2 {
    max-width: 810px;
}

.quote-text {
    font-weight: lighter;
    font-size: 25px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    max-width: 810px;
    align-self: center;
}

.quote-aut {
    display: flex;
    font-size: 18px;
    font-weight:bolder;
    justify-content: flex-end;
    max-width: 980px;
}

.cont-sign2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    padding: 30px;
}

.sign-up2{
    display: flex;
    justify-content:space-between;
    background-color:#3882f6;
    border-radius:10px;
    padding: 30px;
}

.call {
    color: white;
    font-size: 12px;
}

.action {
    padding-bottom: 3px;
    font-weight: bolder;
    font-size:20px;
}


.signupbut.but2 {
    border:solid 1px white;
    margin-left: 50px;
}

.copy-cont {
    margin-top: auto;
    background-color: #1f2937;
    padding:20px;
}

.copyright {
    color: white;
    text-align: center;
}

